<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Pixel Shop</title>
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="home__header">
        <span>
            <i class="fa-solid fa-bars"></i>
        </span>
        <div>
            <img src="" alt="logo">
        </div>
        <h3>Pixel Shop</h3>
        <span>
            <i class="fa-solid fa-cart-shopping"></i>
        </span>
        <span>
            <i class="fa-solid fa-user"></i>
        </span>
        <div id="busqueda">
            <input type="search" placeholder="Buscar videojuegos, marcas...">
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>
    <main class="home__main">
        <!-- Carrusel -->
        <section >
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
        </section>
        <h4>Ofertas especiales</h4>
        <section class="home__main__ofertas">
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-4.jpg" alt=""></a>
            </article>
        </section>
        <div class="home__main__publicidad">
            <img src="" alt="">
        </div>
        <h4>Destacados</h4>
         <!-- Carrusel -->
         <section >
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
        </section>
        <h4>Recomendados </h4>
        <section>
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-4.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <a href="/Destacados">Ver más</a><!-- Desplegar más productos o abrir una nueva pág-->
        </section>
        <section>
            <article></article>
        </section>        
    </main>
    <footer>

    </footer>
</body>
</html>