<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Pixel Shop</title>
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="home">
    <header class="home__header">
       <section class="home__header__section">
        <div>
            <i class="fa-solid fa-bars"></i>
            <img src="" alt="logo">
        </div>
        <h3>Pixel Shop</h3>
        <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user"></i>
        </div>
       </section>
        <nav>
            <ul>
                <li><a href="">Comunidad</a></li>
                <li><a href="">Nuestra App</a></li>
                <li><a href="">Soporte</a></li>
                <li><a href="">Idioma</a></li>
            </ul>
            <ul>
                <li> <a href="">Tendencias y Novedades</a></li>
                <li> <a href="">Suscripción Premium</a></li>
                <li> <a href="">Quienes Somos</a></li>
            </ul>
        </nav>
        <nav>        
            <ul>
                <li><a href="/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/productCart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div id="busqueda">
            <input type="search" placeholder="Buscar videojuegos, marcas...">
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>
    <main class="home__main">
        <!-- Carrusel -->
        <section >
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
        </section>
        <h4>Ofertas especiales</h4>
        <section class="home__main__ofertas">
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
        </section>
        <div class="home__main__publicidad">
            <img src="" alt="">
        </div>
        <h4>Destacados</h4>
         <!-- Carrusel -->
         <section >
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-1.jpg" alt=""></a>
            </article>
        </section>
        <h4>Recomendados </h4>
        <section>
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img  src="/images/juego-3.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-2.jpg" alt=""></a>
            </article>
            <article>
                <a href="/productDetail"><img src="/images/juego-3.jpg" alt=""></a>
            </article>
            <a href="/Destacados">Ver más</a><!-- Desplegar más productos o abrir una nueva pág-->
        </section>
        <section>
            <article></article>
        </section>        
    </main>
    <footer>
        <span>
            <img src="" alt="logo">
        </span>
        <p>Gracias por su visita, esperamos que tenga un buen día</p>
        <a href=""><i class="fas fa-arrow-circle-up"></i></a>
        <nav>
            <ul>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Empleo</a></li>
                <li><a href="">Terminos y condiciones de uso</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Información legal</a></li>
                <li><a href="">Nuestro sitio web</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </nav>
    </footer>
</body>
</html>