<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login | Pixelhop</title>
</head>
<body class="login">
    <header >
        <section class="header__section">
         <div class="header__section-div">
             <a href="/"><img src="/images/nuevoLogo.jpg" alt="logo"></a>            
             <div class="container">
                <h1 class="neonText">
                      PIXELSHOP
                </h1>        
             </div>
         </div>
         <h1 class="neonText-principal">
            PIXELSHOP
        </h1> 
         <div id="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
         <div  class="header__section__div-user">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
         </div>
        </section>
       
         <nav class="header__nav">
             <ul>
                 <li><a href="">Comunidad</a></li>
                 <li><a href="">Nuestra App</a></li>
                 <li><a href="">Soporte</a></li>
                 <li><a href="">Idioma</a></li>
             </ul>
             <ul>
                 <li> <a href="">Tendencias y Novedades</a></li>
                 <li> <a href="">Suscripción Premium</a></li>
                 <li> <a href="">Quienes Somos</a></li>
             </ul>
         </nav>
         <nav class="header__nav__user">        
             <ul>
                 <li><a href="/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                 <li><a href="/register">Registrate</a></li>
                 <li><a href="/productCart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
             </ul>
         </nav>
         <div id="busqueda">
             <input type="search" placeholder="Buscar videojuegos, marcas...">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
         </div>
     </header>
    <main class="main_login">
        <h2>Ingresá</h2>
        <section class="main__login">
            <form action="" method="get">
                <div class="datos">
                    <label for="email"> Usuario/Correo electrónico</label>
                    <input type="email" name="email" id="email" placeholder=" ususario/email" required>
                </div>
                <div class="datos">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña" placeholder=" contraseña" required>
                </div>

            </form>
          
            <section class="required">
                    <input type="checkbox" id="recordame" name="recordame" value="recordarme" required >
                    <label for="recordame">Recordame</label>                        
            </section>
            
        </section>
      <section class="section__login">
        <div class="button">
            <a href=""><button type="submit">INICIAR SESIÓN</button></a>
        </div>
        <a href="¿Has olvidado tu contraseña?"></a>
        <p>O</p>
        <div class="button">
            <a href="/register"><button type="submit">REGISTRATE</button></a>
            
        </div>
      </section>
        <section class="redes">
        <ul>
            <li><a href="http://facebook.com" target="__BLANK"><i class="fab fa-facebook-square"></i></a></li>
            <li>       <a href="http://mail.google.com" target="__BLANK"><i class="fab fa-google"></i></a></li>
            <li>        <a href="http://twitter.com"target="__BLANK"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>
    <section class="section__unirse">
        <p>Únete a Pixel y descubre miles de títulos de juegos</p>
        <p>Es gratis y fácil de usar</p>
    </section>
    <div class="unete">
        <a href="/register">Únete a Pixel</a>    
    </div>
    </main>
    <footer class="footer">
        <section class="footer__section">
        <div class="footer__section-div">
            <a href="/"><img src="/images/nuevoLogo.jpg" alt="logo"></a>            
            <div class="container">
               <h1 class="neonText">
                     PIXELSHOP
               </h1>        
            </div>
        </div>
            <p>Gracias por su visita, esperamos que tenga un buen día</p>
            <a href="/"><i class="fas fa-arrow-circle-up"></i></a>
        </section>
        <nav>
            <ul class="footer__nav">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Empleo</a></li>
                    <li><a href="">Terminos y condiciones de uso</a></li>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">Contactos</a></li>
                    <li><a href="">Política de privacidad</a></li>
                    <li><a href="">Información legal</a></li>
                    <li><a href="">Nuestro sitio web</a></li>
            </ul>
        </nav>
        <nav class="footer__nav__networks">
            <div>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>            
        </nav>
    </footer>
</body>
</html>
