<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compra | PixelShop</title>
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body >
    <header class="home__header">
        <section class="home__header__section">
         <div class="home__header__section-div">
             <a href="#"><img src="/images/logo.png" alt="logo"></a>
             
         </div>
         <h3>Pixel Shop</h3>
         <div  class="home__header__section__div-user">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
         </div>
        </section>
        <div id="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
         <nav class="home__header__nav">
             <ul>
                 <li><a href="">Comunidad</a></li>
                 <li><a href="">Nuestra App</a></li>
                 <li><a href="">Soporte</a></li>
                 <li><a href="">Idioma</a></li>
             </ul>
             <ul>
                 <li> <a href="">Tendencias y Novedades</a></li>
                 <li> <a href="">Suscripción Premium</a></li>
                 <li> <a href="">Quienes Somos</a></li>
             </ul>
         </nav>
         <nav class="home__header__nav__user">        
             <ul>
                 <li><a href="/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                 <li><a href="/register">Registrate</a></li>
                 <li><a href="/productCart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
             </ul>
         </nav>
         <div id="busqueda">
             <input type="search" placeholder="Buscar videojuegos, marcas...">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
         </div>
     </header>
     <main class="main">
<section class="productCart">
    <section class="button">
        <input type="button" value="Carrito">
        <input type="button" value="Favoritos">
    </section>
    <section class="productCart__section">
    <section class="listProduct">
        <article class="product">
            <h2>Nombre del producto</h2>
            <div class="product_info">
                <span>
                    <img  src="/images/juego-1.jpg" alt>
                </span>
                <div>
                <input type="button" value="-">
                <span> 1 </span>
                <input type="button" value="+">
                <span> $p. original</span>
                <span>$p. desc</span>
                <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
            <p>descripción del producto</p>
            </article>
            <article class="product">
                <h2>Nombre del producto</h2>
                <div class="product_info">
                    <span>
                        <img  src="/images/juego-1.jpg" alt>
                    </span>
                    <div>
                    <input type="button" value="-">
                    <span> 1 </span>
                    <input type="button" value="+">
                    <span> $p. original</span>
                    <span>$p. desc</span>
                    <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                <p>descripción del producto</p>
                </article>
    </section>
    <!--
        <span>
        <p>¿Quieres agregarle DLC?</p>
        <input type="button" value="Ver más">
    </span>
    -->
   <div class="linea">

   </div>
    <section class="resumen">
        <h2>Resumen de Compra</h2>
        <div>
            <p>¿Tenés un codigo de descuento?</p>
        <input type="text" placeholder="Codigo" id="">
        <input type="button" value="Aplicar">
        </div>
        <h3>Productos (suma de productos)</h3>
        <ul >
            <li>Subtotal <p>$precio</p></li>
            <li>Total <p>$precio</p></li>
        </ul>
    <section class="button">
        <input type="button" value="finalizar compra">
        <input type="button" value="continuar comprando">
    </section>
    </section>
</section>
    <section class="section__productos" >
        <h2> Productos Similares</h2>
        <section class="productos__similares">
        <span>
            <i class="fas fa-angle-left"></i>
        </span>
        <section class="section__productos__box">
            <article>
                <img src="/images/j1.jpg" alt="">
                <div>
                    <p>$xxxx</p>
                    <i class="fas fa-heart"></i>  
                    <i class="fas fa-shopping-cart"></i>          
                </div>
            </article>
            <article>
                <img src="/images/j1.jpg" alt="">
                <div>
                    <p>$xxxx</p>
                    <i class="fas fa-heart"></i>  
                    <i class="fas fa-shopping-cart"></i>          
                </div>
            </article>
            <article>
                <img src="/images/j1.jpg" alt="">
                <div>
                    <p>$xxxx</p>
                    <i class="fas fa-heart"></i>  
                    <i class="fas fa-shopping-cart"></i>          
                </div>
            </article>
        </section>
        <section class="section__productos__box__articulos">
            <article>
                <img src="/images/j1.jpg" alt="">
                <div>
                    <p>$xxxx</p>
                    <i class="fas fa-heart"></i>  
                    <i class="fas fa-shopping-cart"></i>          
                </div>
            </article>
            <article>
                <img src="/images/j1.jpg" alt="">
                <div>
                    <p>$xxxx</p>
                    <i class="fas fa-heart"></i>  
                    <i class="fas fa-shopping-cart"></i>          
                </div>
            </article>
           
           
        </section>
      <span>
        <i class="fas fa-angle-right"></i>
      </span>
        </section>
    </section>
</section>
</main>
<footer class="footer">
    <section class="footer__section">
        <span>
            <img src="/images/logo.png" alt="logo">
        </span>
        <p>Gracias por su visita, esperamos que tenga un buen día</p>
        <a href=""><i class="fas fa-arrow-circle-up"></i></a>
    </section>
    <nav>
        <ul class="footer__nav">
                <li><a href="">Ayuda</a></li>
                <li><a href="">Empleo</a></li>
                <li><a href="">Terminos y condiciones de uso</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Información legal</a></li>
                <li><a href="">Nuestro sitio web</a></li>
        </ul>
    </nav>
    <nav class="footer__nav__networks">
        <div>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>            
    </nav>
</footer>
</body>
</html>