<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Detalle del Producto | PixelShop</title>
</head>
<body class="body">
    <header class="home__header">
        <section class="home__header__section">
         <div class="home__header__section-div">
             <a href="#"><img src="/images/logo.png" alt="logo"></a>
             
         </div>
         <h3>Pixel Shop</h3>
         <div  class="home__header__section__div-user">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
         </div>
        </section>
        <div id="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
         <nav class="home__header__nav">
             <ul>
                 <li><a href="">Comunidad</a></li>
                 <li><a href="">Nuestra App</a></li>
                 <li><a href="">Soporte</a></li>
                 <li><a href="">Idioma</a></li>
             </ul>
             <ul>
                 <li> <a href="">Tendencias y Novedades</a></li>
                 <li> <a href="">Suscripción Premium</a></li>
                 <li> <a href="">Quienes Somos</a></li>
             </ul>
         </nav>
         <nav class="home__header__nav__user">        
             <ul>
                 <li><a href="/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                 <li><a href="/register">Registrate</a></li>
                 <li><a href="/productCart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
             </ul>
         </nav>
         <div id="busqueda">
             <input type="search" placeholder="Buscar videojuegos, marcas...">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
         </div>
     </header>
     <!-- #################### main #################### -->
    <main class="main">
        <div class="main__div-carrusel">
            <img src="/images/carrusel-muestra.jpg" alt="">
        </div>
        <div id="info">
            <div id="img-buy">
                <section class="main__section">
                    <div>
                        <img src="/images/juego-muestra.jpg" alt="">
                    </div>
                    <div>
                        <img src="/images/carrusel-miniatura.png" alt="">
                    </div>
                    <h3>Cyberpunk 2077 / <span>Digital</span></h3>
                </section>
                <section class="main__section-desc">
                    <section class="main__section-buy">
                        <h2>$2.890 <span>ARS</span></h2>
                        
                        <ul>            
                            <li><a href=""><i class="fa-solid fa-cart-shopping"></i>COMPRAR</a></li>                    
                            <li><a href=""><i class="fa-brands fa-whatsapp"></i>Asesor de ventas</a></li>
                        </ul>
                    </section>
            </div>
                <section class="main__section-info">
                    
                    <h3>Resumen</h3>
                    <p class="main__section-resumen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, aperiam doloribus architecto, ab, libero blanditiis ratione quo rerum aliquam animi recusandae. Laborum accusantium temporibus perspiciatis corporis exercitationem, illo maiores in sunt nam hic, quidem iusto eum magnam aut, architecto optio delectus! Deleniti voluptatibus quas eius maxime ut quis id quaerat?</p>
                    <ul id="especificaciones">
                        <li>Precio: xxxx</li>
                        <li>Idioma texto: xxxx</li>
                        <li>Idioma voz: xxxx</li>
                        <div class="main__section-info-div">
                            <li>Juego original y completo</li>
                            <li><b>Incluye guía paso a paso</b></li>
                            <li><b>Entrega inmediata</b></li>
                        </div>
                    </ul>
                    <p id="categorias:">Categorías</p>
                    <ul class="main__section-categories">
                        <li><a href="">Loremasds.</a></li>
                        <li><a href="">Lorem.</a></li>
                        <li><a href="">Lorem.</a></li>
                        <li><a href="">Lorem.</a></li>
                        <li><a href="">Lorem.</a></li>
                        <li><a href="">Lorem.</a></li>
                    </ul>
    
                </section>
        </div>
    </section>
    <section class="main__section__articles">
            <div>            
                <h3 id="more">Más productos</h3>
            </div>
            <article>
                <img src="/images/j1.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j2.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j3.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j4.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j5.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j6.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j7.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j8.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j9.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j10.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j11.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
            <article>
                <img src="/images/j12.jpg" alt="">
                <p>categoría</p>
                <h4>nombre del juego</h4>
                <h4>precio $xxxx</h4>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <span>
                <img src="/images/logo.png" alt="logo">
            </span>
            <p>Gracias por su visita, esperamos que tenga un buen día</p>
            <a href=""><i class="fas fa-arrow-circle-up"></i></a>
        </section>
        <nav class="footer__nav">
            <ul>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Empleo</a></li>
                <li><a href="">Terminos y condiciones de uso</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Información legal</a></li>
                <li><a href="">Nuestro sitio web</a></li>
            </ul>
        </nav>
        <nav class="footer__nav__networks">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </nav>
    </footer>
</body>
</html>