/* footer */
.footer{
    background-image: url(/images/bg3.jpg);
    background-size: cover;
}
.footer__section i{
    color: #2af0ffa3;
}

.footer__nav__networks i{
    color: #ff089bcc;;
}
.footer__section p {
    font-family: 'Bebas Neue';
    color: #afefff;
    width: 50%;
    background-color: var(--colorRosaBebeOpacity);    
    box-shadow: 5px 5px 1px #cf068db0;
}
.footer__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__nav{
    display: none;
}

.footer__section{
    display: flex;
    justify-content: space-around;
   
}

.footer__nav__networks{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 30px;
}

.footer__section a i{
   font-size: 40px;
}

.footer__section img{
    width: 55px;
}

.footer__nav{
    display: none;
}

.footer__section{
    display: flex;
    justify-content: space-around;
   
}

.footer__section p{
    width: 50%;
    text-align: center;
    background-color: var(--colorRosaBebeOpacity);
    border-radius: 10px;
    border: 1px solid var(--colorAzulNoche);
    box-shadow: 5px 5px 3px var(--colorAzulNoche);
}

.footer{
    padding-top: 15px;
    background-color: var(--colorAqua);
}

.footer__nav__networks{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 30px;
}

.footer__section a i{
   font-size: 40px;
}

.footer__section img{
    width: 55px;
}