.home__header{
    background-image: url(/images/bg3.jpg);
    background-repeat: round;
    background-color: #3bcbd7cf;
    background-blend-mode: hard-light;
}
.home__header__section {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    /* background-color: var(--colorAqua); */
    padding: 20px 20px 0;
    align-items: center;
}
.home__header__section h3{
    font-family: 'Black Ops One';
    font-weight: 100;
    font-size: 35px;
    color: white;
}
.home__header__section-div img{
    width: 68px;
}
.home__header #burger{
    background-color: #1d3d66;
    width: 40px;
    margin: 0 auto 8px;
    padding: 6px 0;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #d3fffa;
}
.home__header #burger i{
    font-size: 22px;
    color: white;
}
.home__header__section__div-user{
    font-size: 20px;
}
.home__header__section__div-user a{
    color: white;
}
.home__header__div i{
    background-color: var(--colorMorado);
    color: var(--colorVerde);
    padding: 10px 12px;
    border-radius: 10px;
}
.home__header__div img{
    width: 30px;
    
}

.home__header__div-user{
    padding-top: 5px;
}

.home__header__nav{
    display: none;
    
}

.home__header__nav__user{
    display: none;
}

#busqueda{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #9a46ff4f;
}

#busqueda button{
    border: 1px solid #1d3d66;
    border-radius: 3px;
}

#busqueda button i{
    color: #1d3d66;
}

#busqueda input{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.footer__nav{
    display: none;
}

.footer__section{
    display: flex;
    justify-content: space-around;
   
}

.footer__section p{
    width: 50%;
    text-align: center;
    background-color: var(--colorRosaBebeOpacity);
    border-radius: 10px;
    border: 1px solid var(--colorAzulNoche);
    box-shadow: 5px 5px 3px var(--colorAzulNoche);
}

.footer{
    padding-top: 15px;
    background-color: var(--colorAqua);
}

.footer__nav__networks{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 30px;
}

.footer__section a i{
   font-size: 40px;
}

.footer__section img{
    width: 55px;
}