.home__main{
    background-image: url("/images/fondo1.jpg");
    background-size: contain;
}

/*Banner*/

.home__main section .home__main__banner img{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

/*Ofertas Especiales*/

.home__main h4{
    font-size: 20px;
    color: white;
    margin: 30px;
}

.home__main .home__main__offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home__main .home__main__offer article{
    width: 80%;
    margin-bottom: 20px;
}

.home__main .home__main__offer article img{
    border-radius: 5%;
}

.home__main .home__main__offer .details{
    display: flex;
    justify-content: space-between;
}

.home__main .home__main__offer p{
    font-weight: bold;
    color: white;
}

.home__main .home__main__offer span{
    color: rgb(24, 218, 24);
    font-weight: bold;
}

.home__main .home__main__offer .fa-heart:before{
    color: rgb(238, 12, 12);
}

.home__main .home__main__offer .fa-cart-plus:before{
    color: rgb(20, 20, 233);
}

/* Destacados */

.home__main .home__main__featured{
    background-image: url("/images/fondo-destacados.jpg");
    background-size: cover;
    padding: 10px;
}

.home__main .home__main__featured article{
    padding: 10px;
    margin: 10px;
    border: double; 
    border-color: red blue green black;
}

.home__main .home__main__featured img{
    border-radius: 5%;
}

.home__main .home__main__featured p{
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.home__main .home__main__featured .fa-star:before{
    color: yellow;
}

/* Recomendados */

.home__main .home__main__recommended{
    margin: 10px;
}

.home__main .home__main__recommended article{
    border: 2px solid white;
    border-radius: 5%;
    padding: 15px;
    padding-bottom: 4%;
    margin: 15px;
}

.home__main .home__main__recommended article img{
    border: 1px solid black;
    border-radius: 50%;
}

.home__main .home__main__recommended article p{
    background-color: white;
    border: 1px double black;
    margin: 15px 5px;
    padding: 10px;
}

.home__main .home__main__recommended article .more{
    background-color: var(--colorVioleta);
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    padding: 5px;
    position: relative;
    left: 70%;
}

.home__main .home__main__continue{
    background-color: var(--colorFucsia);
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
    width: 30%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .home__main .home__main__offer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .home__main .home__main__offer article{
        width: 45%;
    }

    .home__main .home__main__featured{
        display: flex;
    }

    .home__main .home__main__featured article{
        width: 50%;
    }

    .home__main .home__main__recommended{
        display: flex;
        flex-wrap: wrap;
    }

    .home__main .home__main__recommended article{
        width: 45%;
    }
    
    .home__main .home__main__recommended article .more{
        width: 25%;
    }
    
    .home__main .home__main__continue{
        width: 20%;
    }
}

@media (min-width: 1024px){  
    .home__main .home__main__offer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .home__main .home__main__offer article{
        width: 22%;
    }

    .home__main .home__main__recommended article{
        width: 30%;
    }
}