.login{
    /*background-image: url(/images/main2.jpg);*/
    background-size: auto;
}

.main_login{
    width: 90%;
    color: white;
    background-color: #000000ad;
    background-position: center;
    padding: 15px;
    margin: 10px auto;
   
}
.main_login h2{
    text-align: center;
}

.main__login{
    margin: 5px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.main__login form .datos{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    margin: 0 auto;
}

.main__login ::placeholder{
    color: violet;
}

.main__login form div input {
    border: none;
    color: violet;
    padding: 3px 0;
  
}

.main__login .datos input{
    border-bottom: 1.5px solid white;
    background-color: rgba(255, 255, 255, 0)
}
.main__login .required{
    margin: 10px 4px;
    font-size: 13px;
}
.section__login .button {
    text-align: center;
 }
 .section__login .button button{
    font-size: 20px;
    font-weight: bolder;
    padding: 0 15px;
    border-radius: 5px;
    background-color:  #ffffff70;
}
.main_login .redes ul{
    display: flex;
    font-size: 36px;
    justify-content: space-evenly;
    margin: 15px 0 5px 0;
}
.main_login .redes ul li a i{
    color: white;
}
.main_login .redes{ 
    margin-top: 20px;
}
.section__login p{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.section__unirse p{
    text-align: center;
}
.unete{
    text-align: center;
    margin: 20px auto 0;
    padding: 5px 0;
        width: 60%;
        border-top: 5px solid #f739c7;
        border-bottom: 5px solid #3a4ed5;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 5px 100%;
        -moz-background-size: 5px 100%;
        background-size: 5px 100%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top, #f739c7 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #f739c7 0%, #3a4ed5 100%);
        background-image: -moz-linear-gradient(top, #f739c7 0%, #3a4ed5 100%), -moz-linear-gradient(top, #f739c7 0%, #3a4ed5 100%);
        background-image: -o-linear-gradient(top, #f739c7 0%, #3a4ed5 100%), -o-linear-gradient(top, #f739c7 0%, #3a4ed5 100%);
        background-image: linear-gradient(to bottom, #f739c7 0%, #3a4ed5 100%), linear-gradient(to bottom, #f739c7 0%, #3a4ed5 100%);
    
}

.section__unirse{
    margin-top: 20px;
}
.unete a{
    color: white;
    font-size: 25px;
    font-weight: 600;

}




/* tablets */
@media (min-width: 768px){
    .main__login{
        display: flex;
        flex-direction: column;
    }
    .main_login{
        background-size: cover;
    } 
    
    .main__section form {
        display: flex;
        flex-wrap: wrap;
    }
    .main__login form .datos {
        display: flex;
        flex-direction: column;
        margin: 12px 0px;
        align-items: center;
    }
    
    .main__login .required{
        margin: 10px 4px;
        font-size: 15px;
        margin: 0 auto;
    }
    .main__login .datos{
        font-size: 18px;
    }
    .redes h4{
        font-size: 25px;
    }
    .main h2{
        font-size: 30px;
        padding-bottom: 5px;
    }
    .main .redes ul li a i{
        font-size: 50px;
    }

}
@media (min-width: 1024px){

    .main_login h2{
        font-size: 45px;
        padding-bottom: 5px;
    }
    .redes h4{
        font-size: 28px;

    }
    .button button{
        font-size: 28px;
}
}
