/* ############### main ###############*/
.main {
    width: 94%;
    margin: 10px auto 0;
}

.main h3{
    font-size: 30px;
}

.main__section{
    background-color: var(--colorLila);
    border-radius: 10px;
    border: 1px solid var(--colorAzulOscuro);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.main__section img{
    border-radius: 15px;
}
.main__div-carrusel{
    width: 100vw;
    margin-left: -3.5%;
}

.main__div-carrusel img{
    margin: 0 auto;
   
}

/* .main__section h3{
    margin-top: 20px;
} */

.main__section-categories{
    display: flex;
    flex-wrap: wrap;
}

.main__section-categories li{
    
    background-color: var(--colorVerde);
    border-radius: 5px;
    margin: 5px 15px 0 0;
    padding: 0 10px;
}

.main__section-info{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.main__section-buy{
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    
}

.main__section-buy li{
    background-color: var(--colorTurquesa);
    border: 2px solid var(--colorVino);
    border-radius: 15px;
    margin: 5px auto;
    padding: 10px 0;
    width: 75%;
}
.main__section-buy h2{
    background-color: var(--colorAqua);
    border: 2px solid var(--colorVino);
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px 0;
    width: 50%;
}

.main__section-buy a{
    color: var(--colorAzulOscuro);
}