
.main_product{
 
    font-size: 18px;
  
    
}
.productCart{
    width: 90%;   
    margin: 0 auto;
    
}
.productCart .button {
   padding:1% 0; 
}

.productCart .button input{ 
    padding: 1% 2%;
    border-radius: 5px;
 
    background-color: unset;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 20px;
    
}

.productCart .listProduct{
    padding:0 2%;
    border-radius: 5px;
    border: #baa0bd solid 2px;
}
.productCart .listProduct article {
    margin: 3% 0;
}
.productCart .product_info{
    display: flex; 
    justify-content: space-between;
}

.productCart .product_info div {
   align-items: center;
   display: flex;
 }

.productCart .product_info div span{
    padding: 0 5px;
}
.productCart .product_info img{
width: 30vw;
} 
.linea {    
    border-top: 4px solid #baa0bd;
    margin: 3% auto;
  }
  .productCart .resumen{
    padding: 3% 2%;
    background-color: #0000009e;
    border-radius: 5px;
}

.productCart .resumen div {
    margin: 2% auto;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    display: table;
}
.productCart h2{
    text-transform: uppercase;
}
.productCart h3{
    text-align: center;
    text-transform: uppercase;
    
}
  
  .productCart .resumen li{ 
    display: flex;
    justify-content: space-between;
    margin: 2% 25%;
    
  }
  .productCart .resumen .button{
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
    .section__productos{
        margin-top: 2%;
    }
    .productos__similares {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .section__productos__box {
        display: flex;
        justify-content: space-around;  
        align-items: center;  
        padding: 2% 0;
    }
    .section__productos__box article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1%;
    }
    .section__productos__box article div{
        display: flex;
        padding: 3% 0px;        
    }
.productos__similares img{
     width: 25vw;
     }

     /* movil */
@media (max-width: 767px){
    .section__productos__box__articulos{
        display: none;

    }
    .productCart{
        font-size: 15px;
    }
}
  /* tablet */
  @media (min-width: 768px){
    .productCart{
        font-size: 13px;
    }
    .linea{
        display: none;
    }
    .productCart__section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }
    .productCart .product_info img{
width: 20vw;
} 
.productCart .product_info div{ 
    width: 47%;
}   
.section__productos__box__articulos {
    display: flex;
    justify-content: space-around;  
    align-items: center;  
    padding: 2% 0;
}
.section__productos__box__articulos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
}
.section__productos__box__articulos article div{
    display: flex;
    padding: 3% 0px;        
}
.productos__similares{
    flex-wrap: nowrap;
}
.productos__similares img{
 width:16vw;
 }
}

   /* desktop */
   @media (min-width: 1024px){
    .productCart .button input{
        font-size: 30px;
       
}
.productCart{
 font-size: 20px;
}
.productCart__section {
   
    justify-content: space-evenly;

   }
   .productCart .product_info div {
    width: 40%;
}

.productCart .listProduct {
    width: 50%;
}
.productCart .resumen {

    width: 40%;
}

   }
        
  