/* ############### main ###############*/

.body{
    /* background-color: var(--colorBody); */
}
.main {
    width: 94%;
    margin: 10px auto 0;
}

.main h3{
    font-size: 28px;
}

/* main__div-carrusel */
.main__div-carrusel{
    width: 100vw;
    margin-left: -3.5%;
}

.main__div-carrusel img{
    margin: 0 auto;
   
}
/* main__section */
.main__section{
    border-radius: 10px;    
    margin-top: 20px;
    width: 100%;
}
.main__section img{
    border-radius: 15px;
}

.main__section-resumen{
}

.main__section-info #info{
    margin: 10px 0;
    border-top: 1px solid var(--colorBordeSparador);
    padding: 10px 0;
}
.main__section-info{
    border-top: 1px solid var(--colorBordeSparador);
    border: 2px solid var(--colorBordeRojo);
    padding: 5px;
    border-radius: 10px;
    color: var(--colorPrueba3);
}
.main__section-info-div{
    margin-top: 5px;
}

.main__secition-desc a{
    color: var(--colorPrueba3);
}

.main__secition-desc h3{
    padding: 10px 0;
    color: var(--colorPrueba3);
}


.main__secition-desc h3 span{
    font-size: 15px;
}

.main__secition-desc #more{
    margin: 15px 0;
}

.main__section__articles img{
    width: 100%;
}

.main__section__articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.main__section__articles article{
    width: 40%;
    margin: 10px 0;
    background-color: white;
    border-radius: 2px;
    color: var(--colorPrueba3);
}

.main__section-categories{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.main__section-categories li{
    
    background-color: var(--colorPrueba2);
    border-radius: 5px;
    margin: 5px 15px 0 0;
    padding: 0 10px;
}

.main__section-buy{
    margin: 20px 0;
    font-weight: 900;
    font-size: 25px;
}

.main__section-buy i{
    margin-right: 10px;
}

.main__section-buy ul{
    text-align: center;
}

.main__section-buy li{
    /* background-color: var(--colorTurquesa); */
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    background-color: var(--colorPrueba);
    margin: 10px 0;
}
.main__section-buy h2{
    font-size: 25px;
    /* background-color: var(--colorTurquesa); */
    border-top: 1px solid  var(--colorBordeSparador);
    margin-top: 10px;
    padding: 10px 0;
}

.main__section-buy span{
    font-size: 10px;
}




/* mobile */
@media (max-width: 375px){
    .main__div-carrusel{
        display: none;
    }
}