

















/* tablets */
@media (min-width: 768px){
    body{
        background-size: cover;
    }
       .main__section form {
        display: flex;
        flex-wrap: wrap;
    }
    .main__section form .datos {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        margin: 12px 0px;
        width: 50%;
    }
    .main__section .section__genero{
        padding: 10px 25px;
        margin: 0;
    }
    .main__section .required{
        margin: 10px 4px;
        font-size: 14px;
    }
    .main__section .datos{
        font-size: 18px;
    }
    .redes h4{
        font-size: 25px;
    }
    .main h2{
        font-size: 30px;
        padding-bottom: 5px;
    }
    .main .redes ul li a i{
        font-size: 50px;
    }

}
@media (min-width: 1024px){
    .main h2{
        font-size: 45px;
        padding-bottom: 5px;
    }
    .redes h4{
        font-size: 28px;

    }
    .button button{
        font-size: 28px;
}
}