:root{
    --colorRosa:#d92acd;
    --colorVino:#891b8c;
    --colorVioleta:#7404c0;
    --colorMorado:#2b118c; 
    --colorAzulOscuro:#2e315a;
    --colorLila:#8577d9;
    --colorTurquesa:#04c4d9;

    --colorBeige: #febaad;
    --colorVerde:#05edbd;
    --colorFucsia:#ff00aa;
    --colorAzul:#0000a2;

    --colorAzulNoche:#1d3d66;
    --colorRosaBebeOpacity:rgb(221, 108, 152, 0.5);
    --colorRosaBebe:#dd6c98;
    --colorAqua:#00a8b5;
    --colorPurpura:#886b94;
    --colorVerdeOscuro:#176886;

    /* #94e8f2  */
    --colorVioletaOscuro:#2d204f;
    --colorLetra: #fa91fd;
    --colorFondo: #94e8f2;
    --colorAmarillo: #f3e24b7a;
}