<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Detalle del Producto | PixelShop</title>
</head>
<body>
    <header class="home__header">
       <section class="home__header__section">
           <!-- agrego dos div para separar el burguen y el logo -->
        <div class="home_header__div-burger">
            <i class="fa-solid fa-bars"></i>
        </div>
      
            <img class="home_header__div-logo" src="/images/logo-muestra.png" alt="logo">
        
        <h3>Pixel Shop</h3>
        <!-- Alex-agrego un div a los dos iconos para manejar el tamaño en css -->
        <div class="home_header__div-icons-user">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-user"></i></a> 
        </div>
       </section>
        <nav class="home__header__nav">
            <ul>
                <li><a href="">Comunidad</a></li>
                <li><a href="">Nuestra App</a></li>
                <li><a href="">Soporte</a></li>
                <li><a href="">Idioma</a></li>
            </ul>
            <ul>
                <li> <a href="">Tendencias y Novedades</a></li>
                <li> <a href="">Suscripción Premium</a></li>
                <li> <a href="">Quienes Somos</a></li>
            </ul>
        </nav>
        <nav class="home__header__nav__user">        
            <ul>
                <li><a href="/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/productCart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div id="busqueda">
            <input type="search" placeholder="Buscar videojuegos, marcas...">
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>
    <main class="details">
        <div>
            <img src="/images/carrusel-img.jpg" alt="">
        </div>
        <div>
            <img src="/images/elden-ring-ps5.jpg" alt="">
        </div>
        <section class="details__section-buy">
            <h2>$9.070</h2>
            <ul>
                <li><a href="">COMPRAR</a></li>
                <li id="carrito"><a href="">Agregar al carrito</a></li>
                <li><a href="">Asesor</a></li>
            </ul>
        </section>
        <section class="details__section">
            <h3>Nombre del juego</h3>
            <p>Categorías</p>
            <ul class="details__section-categories">
                <li><a href="">Loremasds.</a></li>
                <li><a href="">Lorem.</a></li>
                <li><a href="">Lorem.</a></li>
                <li><a href="">Lorem.</a></li>
                <li><a href="">Lorem.</a></li>
                <li><a href="">Lorem.</a></li>
            </ul>
            <h3>Resumen</h3>
            <p class="details__section-resumen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, aperiam doloribus architecto, ab, libero blanditiis ratione quo rerum aliquam animi recusandae. Laborum accusantium temporibus perspiciatis corporis exercitationem, illo maiores in sunt nam hic, quidem iusto eum magnam aut, architecto optio delectus! Deleniti voluptatibus quas eius maxime ut quis id quaerat?</p>
            <ul class="details__section-info">
                <li>Precio:</li>
                <li>Idioma texto:</li>
                <li>Idioma voz:</li>
                <li>Juego original y completo:</li>
                <li><b>Incluye guía paso a paso</b></li>
                <li><b>Entrega inmediata</b></li>
            </ul>
        </section>
        
    </main>
</body>
</html>