#admin{
    padding: 0;
    width: 100px;
}

.agregarProductos{
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
}
#listaProductos{
    margin-bottom: 20px;
}
#tachito{
    color: red;
}