.home__main{
    background-size: contain;
    padding-top: 0px;
}

.home__main__banner video{
    display: none;
}

/*Ofertas Especiales*/

.home__main h4{
    font-size: 20px;
    padding: 20px 0;
    font-family: 'Bungee';
    background: linear-gradient(to bottom, #3cdaf2, white 50%, #f0128c);
}
.offer-recomended{
    padding-top: 20px;
}

.home__main .home__main__offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.home__main .home__main__offer article{
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid var(--colorFucsia);
    border-radius: 5%;
    padding: 20px;
    box-shadow: 4px 4px 5px #665454;
    margin: 15px;
    Object-fit:cover;
}

.home__main .home__main__offer article img{
    
    border-radius: 5%;
}

.home__main .home__main__offer .details{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 15px;
}

.home__main .home__main__offer p{
    font-weight: bold;
   
}

.home__main .home__main__offer span{
    color: rgb(24, 218, 24);
    font-weight: bold;
}

.home__main .home__main__offer .fa-heart:before{
    color: rgb(238, 12, 12);
}

.home__main .home__main__offer .fa-cart-plus:before{
    color: rgb(20, 20, 233);
}

/* Destacados */

.home__main .home__main__featured{
    background-image: url("/images/fondo-destacados.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.home__main .home__main__featured article{
    padding: 10px;
    margin: 10px;
    border: double; 
    border-color: red blue green black;
}

.home__main .home__main__featured img{
    border-radius: 5%;
}

.home__main .home__main__featured p{
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.home__main .home__main__featured .fa-star:before{
    color: yellow;
}

.home__main .home__main__featured .carousel{
    font-size: 10px;
    text-align: center;
}

/* Recomendados */

.home__main .home__main__recommended{
    margin: 10px;
}

.home__main .home__main__recommended h5{
    text-align: center;
    padding: 10px;
    font-family: 'Bungee';
    color: black;
}

.home__main .home__main__recommended article{
    background: linear-gradient(to right, #7404c069, #891b8c91);
    border: 1px solid;
    border-radius: 3%;
    padding: 15px;
    margin: 20px;
}

.home__main .home__main__recommended article img{
    border: 1px solid black;
    border-radius: 5%;
}

.home__main .home__main__recommended article p{
    background-color: rgb(210, 210, 210);
    border: 1px double black;
    border-radius: 10px;
    padding: 10px;
}

.home__main .home__main__recommended article a{
    background-color: var(--colorCelesteClaro);
    color: var(--colorLetras);
    display: block;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

.home__main .home__main__continue{
    background: linear-gradient(to top, var(--colorTurquesa), var(--colorBeige));
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
    width: 55%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .home__main .home__main__offer{
        display: flex;
        flex-wrap: wrap;
    }
        
    .home__main .home__main__offer article{
        width: 45%;
    }

    .home__main .home__main__featured{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .home__main .home__main__featured article{
        width: 47%;
    }

    .home__main .home__main__featured .carousel{
        width: 100%;
    }

    .home__main .home__main__recommended{
        display: flex;
        flex-wrap: wrap;
    }

    .home__main .home__main__recommended article{       
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            width: 44%;        
    }
    
    .home__main .home__main__continue{
        width: 27%;
    }
    .home__main .home__main__offer .details {
        width:90%;
    }
}

@media (min-width: 1024px){  
    .home__main .home__main__offer .details{
        font-size: 13px;
    }

    .home__main__banner video{
        display: block;
        border: 10px double #af5f5fb3;
        width: 85%;
        margin: 20px 8%;
    }
    
    .home__main .home__main__offer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .home__main .home__main__offer article{
        width: 20%;
    }

    .home__main .home__main__recommended article{
        width: 29%;
    }

    .home__main .home__main__continue{
        width: 22%;
    }
}