<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Quienes somos | Pixel Shop'}) %> 
<body>
    <%- include('./partials/header') %>
        <main>
            <h1 class="aboutUs-title">PixelShop</h1>
            <hr>
            <h2 class="aboutUs-subtitle">¿Qué es PixelShop?</h2>
            <div class="aboutUs-Pixelshop">
                <p>Un lugar donde la diversión y la imaginación se aventuran en una nueva realidad...</p>
                <p>PixelShop ha sido creado para ofrecerte todos los juegos que siempre has deseado, en tu moneda local. Atención personalizada, soporte permanente y facilidades de pago para que todo sea mucho más simple. Ya no tendrás que depender de nadie para conseguir tus juegos favoritos. Además toda la info para que no te pierdas ninguna oferta y noticias sobre los acontecimientos del mundo del entretenimiento. Bienvenidos!</p>
            </div>
            <div class="aboutUs-cards">
                <div class="aboutUs-card">
                    <h5>Catálogo de Juegos</h5>
                    <p>En nuestra tienda podrás acceder a los juegos más recientes disponibles. Ya no hace falta depender de páginas internacionales para realizar tus compras. Ahora comprar es más fácil y en pesos argentinos!</p>
                </div>
                <div class="aboutUs-card">
                    <h5>Medios de Pago</h5>
                    <p>Con Mercadopago y PayU podrás pagar de manera fácil, rápida y segura. Solo debes registrarte en nuestro Sitio, elegir el medio de pago, y listo! Además disponemos de Transferencia Bancaria Directa.</p>
                </div>
                <div class="aboutUs-card">
                    <h5>Novedades</h5>
                    <p>Toda la información sobre los últimos juegos, descuentos, promociones, gameplays y eventos en el mundo de los videojuegos. Puedes comentar sin necesidad de registrarte en nuestro Sitio y sin compromisos!</p>
                </div>
            </div>
            <div class="aboutUs-platform">
                <img src="/images/index/gamefor.png" alt="">
                <img src="/images/index/ps4.png" alt="">
                <img src="/images/index/uplay.png" alt="">
                <img src="/images/index/origin.png" alt="">
                <img src="/images/index/steam.png" alt="">
            </div>
        </main>
    <%- include('./partials/footer') %> 
</body>
</html>