<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Quienes somos | Pixel Shop'}) %> 
<body>
    <%- include('./partials/header') %>
        <main class="contacts">
            <h2>Contáctenos</h2>
            <p>Ante cualquier consulta sobre nuestros servicios, stock de juegos o sugerencias no dudes en escribirnos a cualquiera de nuestros administradores. Tu opinión es muy importante para nosotros. Muchas gracias por visitarnos! Equipo PixelShop.</p>
        </main>
    <%- include('./partials/footer') %> 
</body>
</html>