<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Quienes somos | Pixel Shop'}) %> 
<body>
    <%- include('./partials/header') %>
        <main class="contacts">
            <h2>Contáctenos</h2>
            <p>Ante cualquier consulta sobre nuestros servicios, stock de juegos o sugerencias no dudes en escribirnos a cualquiera de nuestros administradores. Tu opinión es muy importante para nosotros. Muchas gracias por visitarnos! Equipo de PixelShop.</p>
            <div>
                <i class="fab fa-whatsapp"></i>
                <b>WHATSAPP</b>
                <a target="_blank" href="https://wa.me/5491125373988">+54 9 11 2537-3988</a>
            </div>
            <div>
                <i class="far fa-envelope"></i>
                <b>EMAIL</b>
                <p>PixelShop@gmail.com</p>
            </div>
        </main>
    <%- include('./partials/footer') %> 
</body>
</html>