<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Agregar Producto | Pixel Shop'}) %> 
<body  class="form__body">
   <%- include('./partials/header') %> 
    <main class="form__main">
        <h2>Crear producto</h2>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required>
            </div>
            <div class="">
                <label for="description">Descripción del producto</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required></textarea>
            </div>
            <div class="">
                <input type="file" name="img" multiple >
            </div>
            <h4>Géneros de juego</h4>
            <div class="gender">
                 <% gender.forEach( ({id,name}) => { %>
                    <div class="gender__div">
                        <input class="" type="checkbox" name="gender" id="gender" value="<%= id %>">
                        <label for="gender"><%=name%></label>
                    </div>
                <% })%>      
            </div>
            <div>
                <label for="requeriment">Requisitos del producto</label>
                <input class="input-requisitos" type="text" name="requeriment" id="requeriment" placeholder="SO" >
                <input class="input-requisitos"  type="text" name="requeriment" id="requeriment" placeholder="Procesador" >
                <input class="input-requisitos"  type="text" name="requeriment" id="requeriment" placeholder="RAM" >
                <input class="input-requisitos"  type="text" name="requeriment" id="requeriment" placeholder="Gráfica " >
                <input class="input-requisitos"  type="text" name="requeriment" id="requeriment" placeholder="Almacenamiento" >
            </div>
            <div class="">
                <label for="price">Precio del producto</label>
                <input type="number" name="price" id="price" placeholder="precio del producto" required>
            </div>
            <div class="">
                <label for="discount">Descuento</label>
                <input type="number" name="discount" id="discount" placeholder="descuento del producto" >
            </div>
            <div class="">
                <label for="category">Sección</label>
                <select name="category" id="category">
                    <option value="" hidden selected>Elige una sección</option>
                    <option value="Ofertas Especiales">Ofertas Especiales</option>
                    <option value="Destacados">Destacados</option>
                    <option value="Recomendados">Recomendados</option>
                </select>
            </div>
            <div>
                <button type="submit">Crear</button>
            </div>
        </form>
    </main>
</body>
</html>