<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Agregar Producto | Pixel Shop'}) %> 
<body  class="form__body">
   <%- include('./partials/header') %> 
    <main class="form__main">
        <h2>Crear producto</h2>
        <form class="form" action="" method="POST">
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required>
            </div>
            <div class="">
                <label for="description">Descripción del producto</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required></textarea>
            </div>
            <div class="">
                <input type="file" name="img" multiple >
            </div>
            <div>
                              
                    <select class="" name="categoryGames" id="category">
                        <option value="" hidden selected>Por favor elegí uno...</option>
                        <% categories.forEach( ({id,name}) => { %>
                        <option value="<%= id %>"><%=name%></option>
                        <% }) %>
                    </select>
                
                
            </div>
            <div>
                <label for="tamaño">Tamaño del producto</label>
                <input type="text" name="tamaño" id="tamaño" placeholder="Tamaño del producto" >
            </div>
            <div>
                <label for="requisitos">Requisitos del producto</label>
                <input class="input-requisitos" type="text" name="requisitos" id="requisitos" placeholder="SO" >
                <input class="input-requisitos"  type="text" name="requisitos" id="requisitos" placeholder="Procesador" >
                <input class="input-requisitos"  type="text" name="requisitos" id="requisitos" placeholder="RAM" >
                <input class="input-requisitos"  type="text" name="requisitos" id="requisitos" placeholder="Gráfica " >
                <input class="input-requisitos"  type="text" name="requisitos" id="requisitos" placeholder="Almacenamiento" >
            </div>
            <div class="">
                <label for="price">Precio del producto</label>
                <input type="text" name="price" id="price" placeholder="price del producto" required>
            </div>
            <div>
                <button type="submit">Crear</button>
            </div>
        </form>
    </main>
</body>
</html>