<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: 'Detalle de Producto | Pixel Shop' }) %>
    <body class="explore">
        <%- include('./partials/header') %>
        <main class="explore__main">
            <section>
              <a href="/product/api/explore/A">A</a>
              <a href="/product/api/explore/B">B</a>
              <a href="/product/api/explore/C">C</a>
              <a href="/product/api/explore/D">D</a>
              <a href="/product/api/explore/E">E</a>
              <a href="/product/api/explore/F">F</a>
              <a href="/product/api/explore/G">G</a>
              <a href="/product/api/explore/H">H</a>
              <a href="/product/api/explore/I">I</a>
              <a href="/product/api/explore/J">J</a>
              <a href="/product/api/explore/K">K</a>
              <a href="/product/api/explore/L">L</a>
              <a href="/product/api/explore/M">M</a>
              <a href="/product/api/explore/N">N</a>
              <a href="/product/api/explore/Ñ">Ñ</a>
              <a href="/product/api/explore/O">O</a>
              <a href="/product/api/explore/P">P</a>
              <a href="/product/api/explore/Q">Q</a>
              <a href="/product/api/explore/R">R</a>
              <a href="/product/api/explore/S">S</a>
              <a href="/product/api/explore/T">T</a>
              <a href="/product/api/explore/U">U</a>
              <a href="/product/api/explore/V">V</a>
              <a href="/product/api/explore/W">W</a>
              <a href="/product/api/explore/X">X</a>
              <a href="/product/api/explore/Y">Y</a>
              <a href="/product/api/explore/Z">Z</a>
            </section>
        </main>
            <%- include('./partials/footer') %>
    </body>
</html>