<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: 'Detalle de Producto | Pixel Shop' }) %>
    <body class="explore">
        <%- include('./partials/header') %>
        <section id="abc" type="submit" class="explore__main--form">          
            <form action="/api/product/exploreProducts/?l=" >
                <button class="ABC" type="submit" name="l" value="A">A</button>
                <button class="ABC" type="submit" name="l" value="B">B</button>
                <button class="ABC" type="submit" name="l" value="C">C</button>
                <button class="ABC" type="submit" name="l" value="D">D</button>
                <button class="ABC" type="submit" name="l" value="E">E</button>
                <button class="ABC" type="submit" name="l" value="F">F</button>
                <button class="ABC" type="submit" name="l" value="G">G</button>
                <button class="ABC" type="submit" name="l" value="H">H</button>
                <button class="ABC" type="submit" name="l" value="I">I</button>
                <button class="ABC" type="submit" name="l" value="J">J</button>
                <button class="ABC" type="submit" name="l" value="K">K</button>
                <button class="ABC" type="submit" name="l" value="l">L</button>
                <button class="ABC" type="submit" name="l" value="M">M</button>
                <button class="ABC" type="submit" name="l" value="N">N</button>
                <button class="ABC" type="submit" name="l" value="Ñ">Ñ</button>
                <button class="ABC" type="submit" name="l" value="O">O</button>
                <button class="ABC" type="submit" name="l" value="P">P</button>
                <button class="ABC" type="submit" name="l" value="Q">Q</button>
                <button class="ABC" type="submit" name="l" value="R">R</button>
                <button class="ABC" type="submit" name="l" value="S">S</button>
                <button class="ABC" type="submit" name="l" value="T">T</button>
                <button class="ABC" type="submit" name="l" value="U">U</button>
                <button class="ABC" type="submit" name="l" value="V">V</button>
                <button class="ABC" type="submit" name="l" value="W">W</button>
                <button class="ABC" type="submit" name="l" value="X">X</button>
                <button class="ABC" type="submit" name="l" value="Y">Y</button>
                <button class="ABC" type="submit" name="l" value="Z">Z</button>
            </form>
        </section>
        <main class="explore__main">
            <h1>Buscar juegos por letra</h1>
        </main>
            <%- include('./partials/footer') %>
            <script src="/js/explore.js"></script>
    </body>
</html>