<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: 'Detalle de Producto | Pixel Shop' }) %>
    <body class="explore">
        <%- include('./partials/header') %>
        <section id="abc" type="submit" class="explore__main--form">          
        </section>
        <main class="explore__main">
            <h1>Buscar juegos por letra</h1>
            <div id="showGames">

            </div>
        </main>
            <%- include('./partials/footer') %>
            <script src="/js/explore.js"></script>
    </body>
</html>