<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: 'Detalle de Producto | Pixel Shop' }) %>
    <body class="explore">
        <%- include('./partials/header') %>
        <main class="explore__main">
            <form action="/explore">
              <button type="submit">A</button>
              <button type="submit">B</button>
              <button type="submit">C</button>
              <button type="submit">D</button>
              <button type="submit">E</button>
              <button type="submit">F</button>
              <button type="submit">G</button>
              <button type="submit">H</button>
              <button type="submit">I</button>
              <button type="submit">J</button>
              <button type="submit">K</button>
              <button type="submit">L</button>
              <button type="submit">M</button>
              <button type="submit">N</button>
              <button type="submit">Ñ</button>
              <button type="submit">O</button>
              <button type="submit">P</button>
              <button type="submit">Q</button>
              <button type="submit">R</button>
              <button type="submit">S</button>
              <button type="submit">T</button>
              <button type="submit">U</button>
              <button type="submit">V</button>
              <button type="submit">W</button>
              <button type="submit">X</button>
              <button type="submit">Y</button>
              <button type="submit">Z</button>
            </form>
        </main>
            <%- include('./partials/footer') %>
            <script src="/js/explore.js"></script>
    </body>
</html>