<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Perfil | Pixel Shop'}) %> 
<body>
   <%- include('./partials/header') %> 
  <main >
    <div class="card ol-12 col-md-10 col-lg-8 mx-auto" style="width: 18rem;">
      <img src="/images/no-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="/users/editProfile" class="card-link">Editar</a>
        <form action="/users/deleteUser?_method=DELETE" method="POST" enctype="multipart/form-data">
          <button type="submit">Eliminar</button>
        </form>
      </div>
    </div>
  </main>
  <%- include('./partials/footer') %> 
</body>
</html>