<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Registro | Pixel Shop'}) %> 

<body class="register" >
    <%- include('./partials/header') %> 
    <main class="main_register">
        <section>
            <h2>Registrate</h2>
            <h4>Es fácil y rápido</h4>
        </section>
        <section>
            <form action="" method="get">
                <div class="datos">
                    <label for="nombre" >Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder=" nombre" required>
                </div>

                <div class="datos">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder=" apellido" required>
                </div>

                <div class="datos">
                    <label for="tel">Número de celular </label>
                    <input type="tel" name="tel" id="tel" placeholder=" número de celular">
                </div>

                <div class="datos">
                    <label for="email">Correo electrónico</label>
                    <input type="email" name="email" id="email" placeholder=" email" required>
                </div>

                <div class="datos">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña" placeholder=" contraseña" required>
                </div>

                <div class="datos">
                    <label for="fecha">Fecha de nacimiento</label>
                    <input type="date" name="fecha" id="fecha" required>
                </div>
                <div class="datos">
                    <h3>Género</h3>
                <section class="section__genero">
                    
                    <div id="genero">
                        <div>
                            <label for="fem">Femenino</label>
                            <input type="radio" name="genero" value="f" id="fem">
                        </div>
                        <div>
                            <label for="mas">Masculino</label>
                            <input type="radio" name="genero" value="m" id="mas">
                        </div>
                        <div>
                            <label for="otro">Otros</label>
                            <input type="radio" name="genero" value="o" id="otro">
                        </div>
                    </div>
                </div>
                
                </section>
            </form>
          
            <section class="required">
                <div >
                    <input type="checkbox" id="terminos" name="terminos" required >
                    <label for="terminos">He leído y estoy de acuerdo con los <span>términos y condiciones de uso</span></label>
                    
                </div>
                <div>
                    <input type="checkbox" id="privacidad" name="privacidad" required >
                    <label for="privacidad">He leído y acepto las <span>políticas de privacidad</span></label>
                    
                </div>
            </section>
            
        </section>
        <div class="button">
            <a href=""><button type="submit">REGISTRATE</button></a>
        </div>
        <section class="redes">
        <h4>O registrate con</h4>
        <ul>
            <li><a href="http://facebook.com" target="__BLANK"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="http://mail.google.com" target="__BLANK"><i class="fab fa-google"></i></a></li>
            <li><a href="http://twitter.com"target="__BLANK"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>