<header >
        <section class="header__section">
            <div class="header__section-div">
                <a href="/"><img src="/images/nuevoLogo.jpg" alt="logo"></a>            
                <div class="container">
                    <h1 class="neonText">
                        PIXELSHOP
                    </h1>        
                </div>
            </div>
            <h1 class="neonText-principal">PIXELSHOP</h1> 
            <div id="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div  class="header__section__div-user">
              
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/users/login">Favoritos</a></li>
                        <li><a class="dropdown-item" href="/product/cart">Carrito</a></li>
                    </ul>
                

                 <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="/users/login">Inciar Sesi칩n</a></li>
                      <li><a class="dropdown-item" >Cambiar contrase침a</a></li>
                      <li><a class="dropdown-item" href="#">Cerrar Sesi칩n</a></li>
                    </ul>
               
            </div>
        </section>
       
         <nav class="header__nav">
             <ul>
                 <li><a href="">Comunidad</a></li>
                 <li><a href="">Nuestra App</a></li>
                 <li><a href="">Soporte</a></li>
                 <li><a href="">Idioma</a></li>
             </ul>
             <ul>
                 <li> <a href="/product/crear">Crear Producto</a></li>
                 <li> <a href="">Suscripci칩n Premium</a></li>
                 <li> <a href="">Quienes Somos</a></li>
             </ul>
         </nav>
         <nav class="header__nav__user">        
             <ul>
                 <li><a href="/users/login">Ingresa <i class="fa-solid fa-user"></i></a></li>
                 <li><a href="/users/register">Registrate</a></li>
                 <li><a href="/product/cart">Carrito de Compra <i class="fa-solid fa-cart-shopping"></i></a></li>
             </ul>
         </nav>
         <form action="/product/result">
         <div id="busqueda">
             <input type="text" name="keyword" placeholder="Buscar videojuegos, marcas...">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
     </header>