<header >
        <section class="header__section">
            <div class="header__section-div">
                <a href="/"><img src="/images/nuevoLogo.jpg" alt="logo"></a>            
                <div class="container">
                    <h1 class="neonText">
                        PIXELSHOP
                    </h1>        
                </div>
            </div>
            <h1 class="neonText-principal">PIXELSHOP</h1> 
            <div id="burger">
                <i id="burger-button" class="fa-solid fa-bars"></i>
            </div>
            <div  class="header__section__div-user">
              <span>
                <button id="btn-cart" type="button" class="btn dropdown-toggle" data-bs-toggle="modal" data-bs-target="#cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
              </span>
              <span>
                  <button class="btn dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false"> 
                      <i class="fa-solid fa-user"></i>
                 </button>
                     <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                       <% if (locals.userLogin) { %>
                        <li><a class="dropdown-item" href="/users/profile">Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                        <% if (locals.userLogin?.rolId === 2 || locals.userLogin?.rolId === 3) { %>
                            <li><a class="dropdown-item" href="/admin/listProduct">Productos</a></li>
                        <% } %>
                        <% if ( locals.userLogin?.rolId === 3) { %>
                            <li><a class="dropdown-item" href="/admin/listUsers">Usuarios</a></li>
                        <% } %>
                        <% }else{ %>                            
                            <li><a class="dropdown-item" href="/users/login">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
                        <% } %>
                     </ul>
              </span>
            </div>
        </section>
         <nav id="nav" class="header__nav">
             <ul class="nav1">
                 <li><a href="">Comunidad</a></li>
                 <li><a href="">Nuestra App</a></li>
                 <li><a href="">Soporte</a></li>
                 <li><a href="">Idioma</a></li>
             </ul>
             <ul class="nav2">
                 <li> <a href="">Suscripción Premium</a></li>
                 <li> <a href="">Quienes Somos</a></li>
             </ul>
         </nav>
         <form action="/product/result" method="GET">
         <div id="busqueda">
             <input type="text" name="keyword" placeholder="Buscar videojuegos, marcas...">
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
     </header>
     <script src="/js/header.js"></script>



  
  <!-- Modal -->
  <div class="modal fade" id="cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mis compras</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table" id="cart-box">
              <thead>
                <tr>
                  <th scope="col">Imagen</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody id="cart-items">
            
              </tbody>
            </table>           
        <p id="msg-empty">No hay productos!!!</p>
        </div>
        <div class="modal-footer">
          <div id="btn-buy">
            <button type="button" id="btn-cart-removeAll" class="btn btn-danger" value="<%= locals.userLogin && userLogin.order?.id  %> ">Vaciar carrito</button>
          <button type="button" class="btn btn-primary">Finalizar compra</button>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
        </div>
      </div>
    </div>
  </div>